@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  .btn {
    @apply h-16 w-56 border-2 border-solid font-bold hover:drop-shadow-lg max-mobile:hidden;
  }

  .btn:hover{
    text-shadow: 0 0 15px rgba(30, 144, 255, 1), 
                0 0 25px rgba(30, 144, 255, 0.8), 
                0 0 35px rgba(30, 144, 255, 0.6);
    background-color: rgba(85, 99, 139, 0.739);
  }

.bigBtn{
  @apply button relative overflow-hidden px-8 py-4 border-4 font-bold tracking-widest uppercase text-white bg-[#2f3f83] transition-all duration-1000 text-[15px];
}

.button {
  border-image: linear-gradient(-144deg, #6213a5, #5b42f3 50%, #00ddeb) 1;
  z-index: 100;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(-144deg, #6213a5, #5b42f3 50%, #00ddeb);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

.button:hover {
  transform: scale(1);
}

.customLi{
  @apply mt-1 relative pl-6 before:content-['▶'] before:absolute before:left-0 before:text-xs before:text-finding_sec_bold before:top-1
}
.underHover{
  @apply underline underline-offset-4 decoration-[#01afe9] decoration-4 font-extrabold before:h-5 before:w-full hover:bg-[#01afe9] 
}

.slideAnimation{
  position: relative;
  z-index: 1;
  @apply underline underline-offset-[.4rem] decoration-finding_sec_bold decoration-4 
}
.slideAnimation::before{
  content: '';
  position: absolute;
  height: 110%;
  width: 0rem;
  left: 0%;
  background-color: #01afe9;
  top: 0%;
  z-index: -1;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
}
.slideAnimation:hover::before{
  width: 100%;
  transition: all 0.45s ease-in-out;
}


.backgroundImage {
  background-image: url('/WEBP/location.webp');
  background-size: cover;
  background-color: rgba(37, 38, 39, 0.5);
  background-position: center;
  background-repeat: no-repeat;
}


}


@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}